/EjerciciosPracEstrucControl/EjerciciosPracSubprogramas/nbproject/private/
/EjerciciosPracEstrucControl/EjerciciosPracSubprogramas/build/
/EjerciciosPracEstrucControl/EjerciciosDeLaGuia5/nbproject/private/
/EjerciciosPracEstrucControl/EjerciciosDeLaGuia5/build/
/EjerciciosPracEstrucControl/EjeciciosPracArreglos/nbproject/private/
/EjerciciosPracEstrucControl/EjeciciosPracArreglos/build/
/EjerciciosExtArreglos/nbproject/private/
/EjerciciosExtArreglos/build/